@import 'normalize';
@import 'default';

body {
    font-family: $font-family;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input {
    line-height: 1;
    -webkit-appearance:none;
}