.rd-switch-container.small {
    height: 14px;
    width: 30px;
    .rd-switch-inner {
        height: 12px;
        width: 12px;
        top: 1px;
        left: 2px;
        margin-top: 0;
    }
    &.open .rd-switch-inner {
        transform: translate3d(15px, 0, 0);
    }
}
.rd-switch-container {
    display: inline-block;
    position: relative;
    background: #e6e8e8;
    height: 20px;
    width: 48px;
    border-radius: 10px;
    transition: color .2s;
    &.open {
        background: #2db7f5;
    }
    &.open .rd-switch-inner {
        transform: translate3d(27px, 0, 0);
    }
}
.rd-switch-inner {
    position: absolute;
    height: 16px;
    width: 16px;
    background: #fff;
    top: 2px;
    left: 3px;
    border-radius: 50%;
    transform: translate3d(0, 0, 0);
    transition: transform cubic-bezier(0.23, 1, 0.32, 1) .2s;
}
