.rd-swipe {
    height: 400px;
    width: 600px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.rd-swipe-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    box-sizing: content-box;
}

.rd-swipe-item {
    width: 100%;
    flex-shrink: 0;
    height: 100%;
    background-size: cover;
    background-position: 50%;
}

.rd-swipe-pagination {
    position: absolute;
    bottom: .5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.rd-swipe-pagination-item {
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
    margin: 4px;
    border-radius: 50%;
}

.rd-swipe-pagination-item.active {
    background: rgba(0, 0, 0, .8);
}

.rd-swipe-pagination-item:hover {
    background: rgba(0, 0, 0, .3);
}
