.radon-select-container {
    position: relative;
    border: 1px solid #ccc;
    display: inline-block;
    min-width: 6rem;
    border-radius: 4px;
    height: 2rem;
    line-height: 2rem;
    padding: 0 2rem 0 .5rem;
}

.radon-select-arrow {
    position: absolute;
    top: 0;
    right: .5rem;
    font-size: .4rem;
    transform: rotate(0);
    transition: transform 0.2s ease;
}

.radon-select-container.active .radon-select-options-container {
    display: initial;
}

.radon-select-container.active .radon-select-arrow {
    transform: rotate(180deg);
}

.radon-select-options-container {
    display: none;
    position: absolute;
    background: #fff;
    min-width: 6rem;
    border-radius: 4px;
    padding: 0;
    border: 1px solid #ccc;
    top: 2.2rem;
    left: -1px;
}

.radon-select-option {
    padding: 0 .5rem;
}

.radon-select-option.selected {
    background: #e6e6e6;
}

.radon-select-option.disabled {
    color: #ccc;
    cursor: not-allowed;
}

.radon-select-option:hover {
    background: #f7f7f7;
}