.rd-dropbtn {
    position: relative;
    display: inline-block;
    .rd-dropbtn-icon {
        margin-left: .3rem;
    }
}
.rd-dropbtn-list {
    position: absolute;
    top: 2.5rem;
    left: 50%;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    padding: 0 .5rem;
    box-shadow: 0 0 .5rem #dedede;
    transform: translateX(-50%);
    border-radius: .2rem;
    z-index: 2;
}
.rd-dropbtn-list>.rd-box-arrow-icon {
    position: absolute;
    color: #fff;
    top: -.9rem;
    margin-left: -.5rem;
    font-size: 1rem;
    left: 50%;
}
.rd-dropbtn-list .rd-btn {
    background: #fff;
    border: none;
    border-bottom: 1px solid #f3f3f3;
    border-radius: 0;
    padding: .5rem .3rem;
}
.rd-dropbtn-list .rd-btn:last-child {
    border: none;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -1rem, 0);
    transform: translate3d(-50%, -1rem, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -1rem, 0);
    transform: translate3d(-50%, -1rem, 0);
  }
}
.fade-in-down-transition {
  animation-duration: .3s;
  animation-fill-mode: both;
}
.fade-in-down-enter {
    animation-name: fadeInDown;
}
.fade-in-down-leave {
    animation-name: fadeOutUp;
}
