.rd-slider {
    position: relative;
}
.rd-slider-mark {
    height: .4rem;
    width: 100%;
    background: #eee;
    border-radius: .2rem;
}
.rd-slider-handle {
    position: absolute;
    height: 2rem;
    width: 2rem;
    top: -.8rem;
    left: -1rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    transition: left .1s, background-color .2s;
    z-index: 1;
    &::after {
        content: '';
        position: absolute;
        background: rgba(255, 255, 255, 0.92);
        height: .9rem;
        width: .9rem;
        top: 50%;
        left: 50%;
        margin: -.45rem;
        border-radius: 50%;
        cursor: pointer;
        border: .15rem solid #2db7f5;
        transition: height cubic-bezier(0.23, 1, 0.32, 1) 450ms, width cubic-bezier(0.23, 1, 0.32, 1) 450ms, margin 10ms;
    }
    &:hover {
       background-color: rgba(0, 0, 0, 0.16);
    }
}
.rd-slider-handle-tip {
    display: block;
    opacity: 1;
    position: absolute;
    bottom: 2rem;
    left: -.45rem;
    width: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: .5rem;
    border-radius: .5rem;
    transition: all .2s;
    &::before {
        content: '';
        position: absolute;
        background: transparent;
        border: .4rem solid transparent;
        border-top-color: rgba(0, 0, 0, 0.5);
        bottom: -.7rem;
        left: 50%;
        margin-left: -.4rem;
    }
}
