@import '../base/default';
.rd-timepicker-container {
    position: relative;
    border: 1px solid $border-color-base;
    display: inline-block;
    min-width: 6rem;
    border-radius: $border-radius-base;
    height: 2rem;
    line-height: 2rem;
    padding: 0 .5rem;
    vertical-align: bottom;
    &.top .rd-timepicker-content {
        top: initial;
        bottom: 2rem;
    }
}
.rd-timepicker-content {
    border: 1px solid #f3f3f3;
    position: absolute;
    left: 0;
    top: 2rem;
    display: flex;
    width: 9rem;
    background-color: #fff;
    text-align: center;
    z-index: 2;
}
.rd-timepicker-hour,
.rd-timepicker-min,
.rd-timepicker-sec {
    width: 33.33%;
    height: 8rem;
    overflow-y: auto;
    &>.rd-timepicker-item:last-child {
        margin-bottom: 6rem;
    }
}
.rd-timepicker-item {
    cursor: pointer;
    border-radius: 4px;
    &.select {
        background: #b9e9ff;
    }
    &:hover {
       background: #b9e9ff;
    }
}
.rd-timepicker-value-input {
    border: 0;
    height: 100%;
    outline: 0;
    font-size: .8rem;
    vertical-align: text-top;
}   
